<form class="contact-form form" netlify>
    <div class="form-field">
        <input class="field-input" type="text" name="name" id="field-name" required>
        <label class="field-label" for="field-name">Name</label>
    </div>

    <div class="form-field">
        <input class="field-input" type="email" name="email" id="field-email">
        <label class="field-label" for="field-email">E-Mail-Adresse (optional)</label>
    </div>

    <div class="form-field">
        <textarea class="field-input" name="message" id="field-message" required>

        </textarea>
        <label class="field-label" for="field-message">Ihr Anliegen</label>
    </div>
</form>
