<footer class="main-footer" {{ if $.Params.image }}style="background-image: url({{ $.Params.image }})"{{ end }}>
    <div class="footer-navigation">
        {{/*
        <div class="newsletter-subscription-form">
            <p class="f3 lh-title light-gray b tc mb2">Newsletter</p>
            <p>
                Get awesome news from us in your inbox every two weeks.<br>
                Be the first to learn about new products.
            </p>

            {{ partial "newsletter-form" . }}
        </div>
        */}}

        <nav class="footer-navigation-links">
            <div class="footer-navigation-column">
                <h3 class="footer-navigation-subheading">Rechtliches</h3>
                <a href="{{ ref . "impressum.md" }}" class="footer-navigation-link">Impressum</a>
                <a href="{{ ref . "datenschutz.md" }}" class="footer-navigation-link">Datenschutz</a>
            </div>

            <div class="footer-navigation-column">
                <h3 class="footer-navigation-subheading">Mehr Erfahren</h3>
                <a href="{{ $.Site.Home.Permalink }}" class="footer-navigation-link">Waldbaden</a>
                <a href="{{ ref . "ablauf.md" }}" class="footer-navigation-link">Ablauf</a>
                <a href="{{ ref . "kontakt/_index.md" }}" class="footer-navigation-link">Kontakt</a>
                <a href="/post" class="footer-navigation-link">Blog</a>
            </div>

            <div class="footer-navigation-column">
                <h3 class="footer-navigation-subheading">Soziale Medien</h3>
                <a href="#"
                   class="footer-navigation-link">{{ partial "social-icon" (dict "svg" "icons-facebook" "fill" "currentColor") }}</a>
                <a href="#"
                   class="footer-navigation-link">{{ partial "social-icon" (dict "svg" "icons-instagram" "fill" "currentColor") }}</a>
            </div>
        </nav>
    </div>
</footer>
{{ partial "svg" . }}

<script src="/app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33722453-7"></script>
<script>
  window.dataLayer=window.dataLayer||[];
  function gtag(){dataLayer.push(arguments)}
  gtag('js',new Date());
  gtag('config','{{ $.Site.GoogleAnalytics }}',{'anonymize_ip':true});
</script>
