<section class="hero">
    {{ if $.image }}
        <div class="hero-background-container" style="background-image: url({{ $.image }})"></div>
    {{ end }}
    <header class="hero-header">
        <h1 class="hero-title">
            {{ $.title | safeHTML }}
        </h1>
    </header>
    {{ if $.subtitle }}
        <p class="hero-subtitle">
            {{ $.subtitle }}
        </p>
    {{ end }}
    {{ if $.cta }}
        <div class="cta-container">
            <button data-href="/kontakt" class="button button-alt cta">{{ $.cta }}</button>
        </div>
    {{ end }}

    <div class="scroll-indicator-container">
        <button class="button button-icon scroll-indicator">↓</button>
    </div>
</section>
