{{ define "main" }}
    <header class="jumbotron" style="background-image: url({{ .Params.image }})">
        <div class="jumbotron-wrapper">
            <h1 class="jumbotron-title">{{ .Title }}</h1>
          <div class="jumbotron-meta">
            <time class="jumbotron-meta-item jumbotron-last-updated">{{ .Date.Format "02.01.2006" }}</time>
            <span class="jumbotron-meta-item jumbotron-reading-time">{{ .ReadingTime }} Minute{{ if not (eq (.ReadingTime) 1) }}n{{ end }} Lesezeit</span>
          </div>
        </div>
    </header>
    {{ partial "content" (dict "content" .Content) }}
{{ end }}
