@import "fonts/_hk-grotesk.css";
@import "_variables.css";
@import "modules/_buttons.css";
@import "modules/_navigation.css";
@import "modules/_hero.css";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-primary);
}

body {
  margin:         0;
  padding:        0;
  min-height:     100vh;
  display:        flex;
  flex-direction: column;
}
