.hero {
  flex:                1 1 auto;
  display:             flex;
  width:               100%;
  margin:              0 auto;
  flex-direction:      column;
  justify-content:     center;
  align-items:         center;
  color:               rgb(var(--color-white));
  text-shadow:         0 0 25px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  text-align:          center;
  background-repeat:   no-repeat;
  background-position: top center;
  background-size:     cover;
}

.hero .hero-title {
  font-size: 4rem;
}

.hero .hero-subtitle {
  font-size:   1.2rem;
  line-height: 1.8;
}
