.hero {
  position:       relative;
  flex:           0 1 100vh;
  display:        flex;
  width:          100%;
  margin:         0 auto;
  padding:        ($spacing-base * 8) $spacing-base 0 $spacing-base;
  flex-direction: column;
  align-items:    center;
  color:          #fff;
  text-align:     center;
  overflow:       hidden;

  @media screen and (min-width: 700px) {
    padding:         0;
    justify-content: center;
  }

  .hero-title {
    font-size:   var(--font-size-title);
    line-height: 1.2;
    margin:      0;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
                 0 0 1px rgba(0, 0, 0, 0.1);
  }

  .hero-subtitle {
    font-size:   var(--font-size-subtitle);
    line-height: 1.2;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
                 0 0 1px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: 400px) {
      line-height: var(--line-height-base);
    }
  }

  .cta-container {
    margin-top: 5rem;
  }

  .scroll-indicator-container {
    position: absolute;
    bottom:   $spacing-base * 2;
  }

  .scroll-indicator {
    animation: hover 1s infinite alternate;

    &:hover {
      animation-play-state: paused;
    }
  }

  .hero-background-container {
    position:            fixed;
    top:                 0;
    left:                0;
    width:               100%;
    height:              100%;
    background-image:    inherit;
    background-repeat:   no-repeat;
    background-position: top center;
    background-size:     cover;
    z-index:             -1;
    will-change:         transform;
  }
}


