.main-navigation {
  position:         fixed;
  top:              0;
  display:          flex;
  justify-content:  center;
  width:            100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter:  blur(var(--blur-amount));
  z-index:          1;

  .navigation-links {
    display:         flex;
    justify-content: center;
    padding:         $spacing-base;

    .navigation-link {
      position:        relative;
      padding:         $spacing-base ($spacing-base * 2);
      text-decoration: none;
      color:           var(--color-text);

      &::after {
        content:       '';
        position:      absolute;
        bottom:        0;
        left:          50%;
        transform:     translateX(-50%);
        width:         $spacing-base * 0.25;
        height:        $spacing-base * 0.25;
        border-radius: $spacing-base * 0.25;
        transition:    all var(--transition-duration-slow);
      }

      &.active::after {
        background-color: currentColor;
      }

      &:not(.active):hover::after {
        background-color: rgb(var(--color-gray));
      }
    }
  }
}

