.pagination {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  margin:          ($spacing-base * 2) 0 0;
  padding:         $spacing-base;

  .pagination-link {
    padding:          $spacing-base ($spacing-base * 1.5);
    border-radius:    $spacing-base * 2;
    text-decoration:  none;
    color:            rgb(var(--color-gray));
    line-height:      1;
    background-color: rgb(var(--color-white-bright));
    box-shadow:       0 0 1px rgba(var(--color-black), 0.2),
                      0 2px 5px rgba(var(--color-black), 0.1);
    transition:       all var(--transition-duration-base);

    &:hover {
      color:            rgba(var(--color-white), 0.75);
      background-color: rgb(var(--color-teal));
      box-shadow:       0 0 1px rgba(var(--color-black), 0.2),
                        0 2px 5px rgba(var(--color-black), 0.1),
                        0 6px 20px rgba(var(--color-black), 0.1);
    }
  }
}
